/* Import (police and css pages) */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

@import url(pageindex.css);
@import url(pagememory.css);



/* Design System */

:root{
    /* Colors */
    --black: #000000;
    --white: #FFFFFF;
    --primary-back:#FCFCFC;
    --primary-element:#C89DED;
    --secondary-element: #B175E6;

    /* Text */
    --title-font: 'Merriweather';
    --body-font: 'Google Sans';

}

/* Typo */
h1 {
    font-family: var(--title-font);
    font-style: normal;
    font-weight: 500;
    font-size: 3rem;
    text-decoration: underline rgba(200, 157, 237, 0.4); /* Rgb color for --primary-element var ! */
    text-decoration-thickness: 0.4em;
    text-underline-offset: -0.3em;
    text-decoration-skip-ink: none;
}

h2 {
    font-family: var(--title-font);
    font-style: normal;
    font-weight: 600;
    font-size: 1.7rem;
}

p, figcaption, a, button {
    font-family: var(--body-font);
    font-style: normal;
    font-weight: 400;
    font-size: 1.15rem;
}


/* Elements General Style */
body{
    margin: 0;
    background-color: var(--primary-back);
}

a {
    color: var(--black);
    text-underline-offset: 0.15em;
    text-decoration-thickness: 0.16rem;
}

a:hover{
    color: var(--primary-element);
}

button{
    border-style: none;
    border-radius: 5px;
    background-color: var(--primary-element);
    color: var(--white);
    font-weight: 500;
    -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

button:hover{
    cursor: pointer;
    background-color: var(--secondary-element);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.hidden{
    opacity: 0;
}