/* Section One : class .memory */
.title_memory{
    margin: 1.5em 0 1em 0;
    text-align: center;
}

.img_memory{
    display: flex;
    justify-content: center;
    gap: 5em;
    flex-wrap: wrap;
}

figure{
    margin: 0;
    text-align: center;
}

figure img{
    height: 14em;
    width: 18em;
    border-radius: 20px;
    object-fit: cover;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    -webkit-filter: blur(0);
	filter: blur(0);
}

figure:hover img{
    -webkit-filter: blur(2px);
	filter: blur(2px);
}

figcaption{
    margin: 0;
    position: relative;
    top: -50%;
    left: 13%;
    max-width: 13em;
    color: var(--white);
    text-shadow: 2px 2px 15px #000000;
    visibility: hidden;
}

figure:hover figcaption{
    visibility: visible;
}

figure p{
    margin: 0;
}


/* Section Two : class .multiple_memory */
.multiple_memory{
    margin: 7em 0 3.5em 0;
    text-align: center;
}

.text_mult{
    font-style: italic;
    font-size: 1.3em;
}

.title_mult{
    margin-bottom: 1.4em;
}

.button_mult{
    display: flex;
    justify-content: center;
    gap: 2em;
    flex-wrap: wrap;
}

.button_mult button{
    padding: 0.7em 2.5em;
}