/* Header : class .gameInfo */
.gameInfo{
    margin: 2em 6em 4em 20em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gameInfo_scoti{
    display: flex;
    gap: 2em;
}


/* Other (div section for img cards) : class .cards */
#cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1.5em;
    margin-bottom: 2em;
}
/* Peut-être plus utiliser grid pour les cartes ? Il me faudrait max six colonnes, un espacement uniforme. */

#cards img{
    height: 12em;
    width: 12em;
    object-fit: cover;
    border-radius: 20px;
}